{% extends 'space/base.html' %}
{% load staticfiles %}
{% block content %}
    <h1>Hello World</h1>
    
    <div id="map"></div>
    <script>
        
        var jsPins = [];
        var map;
        
        function initMap() {
        var mapDiv = document.getElementById('map');
        map = new google.maps.Map(mapDiv, {
            center: {lat: 43.659705, lng: -79.4955992},
            zoom: 8
            });
            {% for pin in pins %}
                var marker = new google.maps.Marker({
                    position: {lat: {{ pin.locLat }}, lng: {{ pin.locLong }} },
                    map: map,
                    title: 'Hello World!'
                });
            {% endfor %}
        }

        function addPin(symptom, lng, lat) {
            var pinLatLng = { 'lng': lng, 'lat': lat };
            var pin = new google.maps.Marker({
                position: pinLatLng,
                map: map,
                title: symptom
            });
            jsPins.push(pin)
        }
        
        
        
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
         async defer></script>
{% endblock %}